@import url('https://fonts.googleapis.com/css2?family=Karla&family=Ubuntu:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    background-color: rgb(50, 80, 116);
  
}

.container
{
    font-family: 'Karla', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    border: solid black 2px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 127, 175);
    align-self: center;
    position: relative;
    top: 100px;
    border-radius: 15%;
}

.heading
{
    font-size: 36px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 10px;
}

.pp
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   
}

.img
{
    display: flex;
    justify-content: center;
}

.namepost{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.art1
{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    /* margin-left: 100px; */
    
}

.revtext
{
    margin-left: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;    
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
     */

/* display: flex;
    justify-content: center;
    align-items: flex-start;
     */
}
 
.prenext
{
    font-weight: bolder;
   

}

.pre{
  margin-right: 15px;
  cursor: pointer;
}
.next{
  margin-left: 15px;
  cursor: pointer;
}